<div class="mt-5">
  <div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card bx-shadow animated fadeIn" >
        <div class="card-body">




          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="form-floating ">
                <input type="text" class="form-control" [(ngModel)]="letra" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Letra a ingresar</label>
              </div>
            </div>
            <div class="col-md-4 text-center ">
              <button  [disabled]="botonReset" (click)="evaluar(letra)" class="btn btn-warning btn-lg mx-auto mt-4 mt-md-0"><i class="far fa-paper-plane"></i> Evaluar letra</button>
            </div>
          </div>
          <div class="container mt-4 px-5">
            <div class="row">
              <div class="alert alert-info text-center" role="alert">
                <p class="mb-0">La palabra es : <span class="d-inline-block mx-5">  {{palabrasConGuiones}}

                </span></p>

            </div>
          </div>
          <div class="mt-5 text-center animated fadeIn" *ngIf="nombreImage != 'No inicia la prueba' ">
            <img  [src]="'assets/images/' + nombreImage" class="img-fluid " alt="...">
          </div>
          <div class="mt-5 text-center animated fadeIn" *ngIf="botonReset" >
              <button class="btn btn-danger" (click)="reset()"><i class="fas fa-undo-alt"></i> Volver a realizar la prueba</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
